.popup__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  background: url('../../../images/close-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: none;
  transition: .6s ease-in-out;
}


.popup__close-button:hover {
  transition: .6s ease-in-out;
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .popup__close-button {
    height: 20px;
    width: 20px;
    right: 0;
    top: -35px;
    background: url(../../../images/closeiconmini.svg);
  }
}
