.cards__remove {
  background-image: url(../../../images/trash.svg);
  position: absolute;
  top: 25px;
  right: 21px;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 2px;
  height: 19px;
  outline: none;
  padding: 0;
  width: 22px;
  align-self: center;
  cursor: pointer;
  transition: .2s linear;
  visibility: hidden;
}

.cards__remove:hover {
  transition: .2s linear;
  opacity: .5;
}
