.cards__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width:950px) {
  .cards__title {
    max-width: 85%;
  }
}
