.cards__like {
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 2px;
  height: 19px;
  outline: none;
  padding: 0;
  width: 22px;
  align-self: center;
  cursor: pointer;
  transition: .2s linear;
}

  .cards__like:hover {
  transition: .2s linear;
  opacity: .5;
}
