.cards__photo {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 282px;
  cursor: pointer;
  transition: .2s linear;
}

.cards__photo:hover {
  transition: .2s linear;
  opacity: .9;
}
